[Unit]
Description=XMR-Stak Monero Miner
After=network-online.target
Wants=network-online.target
AssertFileNotEmpty=/etc/xmr-stak/config.txt
AssertFileNotEmpty=/etc/xmr-stak/pools.txt
AssertFileNotEmpty=|/etc/xmr-stak/cpu.txt
AssertFileNotEmpty=|/etc/xmr-stak/amd.txt
AssertFileNotEmpty=|/etc/xmr-stak/nvidia.txt

[Service]
Type=simple
Environment=GPU_FORCE_64BIT_PTR=1
Environment=GPU_MAX_HEAP_SIZE=100
Environment=GPU_USE_SYNC_OBJECTS=1
Environment=GPU_MAX_ALLOC_PERCENT=100
Environment=GPU_SINGLE_ALLOC_PERCENT=100
WorkingDirectory=/etc/xmr-stak
ExecStart=/usr/bin/xmr-stak
DynamicUser=true
Group=video
CPUSchedulingPolicy=idle
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
NoNewPrivileges=true
CapabilityBoundingSet=
LimitMEMLOCK=256M
MemoryDenyWriteExecute=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=true
PrivateUsers=true
ConfigurationDirectory=xmr-stak

[Install]
WantedBy=multi-user.target
